.hero {
    background: linear-gradient(220deg, var(--bg-color), var(--gradient-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .container {
        width: 100%;
        padding: 80px 15px 20px 15px;
        margin: 0 20px;

        .hero_row {
            margin: 15px;

            .item1 {
                padding: 0 15px;
                display: flex;
                align-items: center;
                h3 {
                    font-family: var(--primary-font);
                    font-weight: 600;
                    font-size: 52px;
                    color: var(--text-color2);
                    letter-spacing: 2px;

                    span {
                        color: rgba(255, 255, 255, 0.799);
                    }
                }

                p {
                    font-family: var(--primary-font);
                    color: var(--para-color);
                }

                .hero_buttons {
                    display: flex;
                    margin: 40px 0;

                    .book_now {
                        margin-right: 20px;
                        border: none;
                        outline: 2px solid var(--text-color2);
                        padding: 10px 20px;
                        font-family: var(--primary-font);
                        font-weight: 500;
                        color: var(--primary-color);
                        background: transparent;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: var(--text-color2);
                        }
                    }

                    .contact_us {
                        border: none;
                        padding: 10px 20px;
                        font-family: var(--primary-font);
                        font-weight: 500;
                        background-color: var(--text-color2);
                        color: var(--primary-color);
                        outline: 2px solid var(--text-color2);
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            .item2 {
                .img_section {
                    .image1 {
                        object-fit: cover;
                        animation: rotation 20s infinite linear;
                    }
                }
            }
        }
    }

    .shape-1 {
        height: 200px;
        width: 100%;
        background-color: transparent;
        position: relative;


        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0) linear-gradient(to right top, #ffffff 50%, transparent 50%) repeat scroll 0 0;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 767px) {
    .hero {
        .container {
            padding: 80px 15px 20px 15px;
            .hero_row {
                margin: 5px;

                .item1 {
                    padding: 0 10px;

                    h3 {
                        font-size: 30px;
                    }

                    .hero_buttons {
                        .book_now, .contact_us {
                            font-size: 10px;
                            padding: 8px 16px;
                        }
                    }
                    
                }

                .item2 {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero {
        .container {
            padding: 50px 15px;
            .hero_row {
                .item1 {
                    h3 {
                        font-size: 44px;
                    }
                }

                .item2 {
                    display: none;
                }
            }
        }
    }
}